<%# Page Title %>
<% content_for :page_title do %>Editing Quote<% end -%>

<% @quote.tags.build %>
<% form_for(@quote, :html => { :class => 'center' }) do |f| %>
  <%= render :partial => "fields", :locals => { :f => f } %>
  <p><%= f.submit 'Edit' %></p>
<% end %>
